
.nav-1
{
    background-image: url("imagescv/abstract2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    padding: 7px;
     
   
}


.nav-1 img 
{
    width: 90px;
    margin-left: 50px;
}

.nav-1 ul
{
    
   display: flex; 
   align-items: flex-end;
   list-style: none;
   

    
}

.nav-1 ul li 
{
   
    padding: 10px;
   /* pour mettre de l'espace entre les listes mettre du margin-orientation  */
   
}

.nav-2
{
    background-image: url(imagescv/autre.jpg); width: 100px;
    background-repeat: no-repeat;
    background-size: 1270px;
    width: 100%;
    display: flex;
    padding: 5px;
    
}

.nav-2 ul
{
    list-style: none;
    margin-left: 860px;
    align-items: flex-end;
}

.mil1, .mil4, .mil5  
{
    text-align: center;
}

.mil2
{
    text-align: center;
    margin-bottom: 0.5px;
}

.mil3
{
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 1px;
}

.containerA
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
     width: 67%;
     height: 200px;
    margin-left: 180px;
   
}

.containerB
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
     width: 67%;
     height: 200px;
     margin-left: 180px;
}


.containerC
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 67%;
    height: 200px;
    margin-left: 180px;
}

.git
{
   
    width: 150px;
    height: 150px;
    background-color: rgb(189, 184, 184);
    margin-left: 40px;
   
    
   
}

.html5
{
    
    width: 150px;
    height: 150px;
    background-color: rgb(189, 184, 184);
}

.css3
{
    
    width: 150px;
    height: 150px;
    background-color: rgb(189, 184, 184);
    
}

.boot
{
    
    width: 150px;
    height: 150px;  
    background-color: rgb(189, 184, 184);
    margin-left: 40px;
}

.word
{
   
    width: 150px;
    height: 150px;
    background-color: rgb(189, 184, 184);
}

.xd
{
    
    width: 150px;
    height: 150px;
    background-color: rgb(189, 184, 184);
}


.jsc
{
   
    width: 150px;
    height: 150px;
    background-color: rgb(189, 184, 184);
    margin-left: 40px;
}


.php
{
   
    width: 150px;
    height: 150px;
    background-color: rgb(189, 184, 184);
    
}


.vba
{
 
   
    width: 150px;
    height: 150px;
    background-color: rgb(189, 184, 184);
}

 .space1 
{
    background-color: rgba(255, 255, 255, 0)!important;
    width: 150px;
    height: 150px;
    
    
} 

.space2 
{
    background-color: rgba(255, 255, 255, 0)!important;
    width: 150px;
    height: 150px;
  
} 

.space3 
{
    background-color: rgba(255, 255, 255, 0)!important;
    width: 150px;
    height: 150px;
  
} 

.space4
{
    background-color: rgba(255, 255, 255, 0)!important;
    width: 150px;
    height: 150px;
  
} 

.space5 
{
    background-color: rgba(255, 255, 255, 0)!important;
    width: 150px;
    height: 150px;
    
} 


.space6 
{
    background-color: rgba(255, 255, 255, 0)!important;
    width: 150px;
    height: 150px;
    
} 

.space7
{
    background-color: rgba(255, 255, 255, 0)!important;
    width: 150px;
    height: 150px;
    
} 


.space8
{
    background-color: rgba(255, 255, 255, 0)!important;
    width: 150px;
    height: 150px;
    
} 

.tout1
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    margin-bottom: 8px;
    /* justify-content: space-between; */

}

.fond1
{
    background-image: url(imagescv/fond.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 40%;
    height: 150px;
    align-items:flex-start;
}

.exp1
{
    font-weight: bold;
    margin-top: 42px;
    margin-left: 217px;
}

.logo1
{
    background-image: url(imagescv/caceis.png);
    background-repeat: no-repeat;
    background-size: 105px;
    width: 115px;
    height: 150px;
    margin-top: 45px;


    
    
    
    
    
    0px;
}

