body
{
    margin: 0px;
    padding: 0px;
}

.nav-1
{
    background-image: url("imagescv/abstract2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
    display: flex;
    padding: 7px;
     
}

.nav-1 ul a {

    text-decoration: none;
}


.maphoto 
{
    
    margin-left: 50px;
    position: absolute;
    margin-top: 48px;
    
    
}

.maphoto img
{
    border-radius: 45px;

}

.nav-1 ul
{
    
   display: flex; 
   align-items: flex-end;
   list-style: none;
   margin-left: 150px;

}


.nav-1 ul li 
{
   
    padding: 19px;
    justify-content: space-between;
    margin-bottom: 2px;
   /* pour mettre de l'espace entre les listes mettre du margin-orientation  */
   
}

.nav-2
{
    background-image: url(imagescv/autre.jpg); width: 100px;
    background-repeat: no-repeat;
    background-size: 1270px;
    width: 100%;
    display: flex;
    padding-bottom: 1px;
    margin: 0px auto;
    
}

.nav-2 ul
{
    list-style: none;
    margin-left: 400px;
    width: 40%;
    
}

.nav-2 ul a {
     text-decoration: none; 

}

.liste1
{
    position: relative; 
    margin-bottom: 2px;
    margin: 1px auto;
}

.alors1
{
    margin-bottom: 2px;
}


.mil6 
{
    text-align: center;
    margin-left: 90px;
    font-size: 20px; 
    margin-right: 90px;
    border-top: 2px solid black;
    
}


.mil1
{
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    font-size: 20px; 
}


.mil5
{
    text-align: center;
    margin-top: 5px;
    font-size: 20px; 
}

.mil4
{
    text-align: center;
    /* border-top: 1px solid black; */
    font-size: 20px; 
}

.mil2
{
    text-align: center;
    margin-bottom: 0.5px;
    font-size: 20px; 
    
    
}

.mil3
{
    text-align: center;
    margin-left: 25px;
    margin-right: 25px; 
    margin-top: 1px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
    font-size:18px 
    
}

.mil7 
{
    text-align: center;
    margin-left: 310px;
    margin-right: 308px;
    margin-top: 830px;
    font-size: 1.4vw; 
    border-top: 2px solid black;

}

.mil8
{
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px; 

}
.containerA
{
    display: flex;  
    justify-content: space-between;
    width: 60%;
    margin: auto;
        
}
 
#icon-menu{
    visibility: hidden;
}

#icon-menu2{
    visibility: hidden;
}


@media screen and (max-width:768px){


    #icon-menu{
        visibility: visible;
        color: white;
        margin-left: 450px;
        
    }

    #icon-menu2{
        visibility: visible;
        color: black;
        margin-left: 450px;
    }

    .containerA {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .containerB {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .containerC {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .liste1{

        visibility: hidden;
    } 

    .nav-2 ul{

        visibility: hidden;
        
    } 

    .lc{
        display: flex;
        flex-direction: column;
    }
   

}


.containerB
{
    display: flex;  
    justify-content: space-between;
    width: 60%;
    margin: auto;
}


.containerC
{
    display: flex;  
    justify-content: space-between;
    width: 60%;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    
}

.git
{
   
    background-color: rgba(189, 184, 184, 0.308);
    margin: 0px auto;
    border-radius: 40px;
    padding: 5px 5px;
   
}

.html5
{
    background-color: rgba(189, 184, 184, 0.308);
    border-radius: 40px;
    margin: 0px auto;
    padding: 5px 5px;
   
}

.css3
{
    background-color: rgba(189, 184, 184, 0.308);
    border-radius: 40px;
    margin: 0px auto;
    padding: 5px 5px;
}

.boot
{
    background-color: rgba(189, 184, 184, 0.308);
    border-radius: 40px;
    margin: 0px auto;

}

.word
{
    background-color: rgba(189, 184, 184, 0.308);
    border-radius: 40px;
    margin: 0px auto;
}

.xd
{
    background-color: rgba(189, 184, 184, 0.308);
    border-radius: 40px;
    margin: 0px auto;
}


.jsc
{
    background-color: rgba(189, 184, 184, 0.308);
    border-radius: 40px;
    margin: 0px auto;
    
}


.php
{
    background-color: rgba(189, 184, 184, 0.308);
    border-radius: 40px;
    margin: 0px auto;
}


.vba
{
    background-color: rgba(189, 184, 184, 0.308);
    border-radius: 40px;
    margin: 0px auto;
}

 .space1 
{
    background-color: rgba(255, 255, 255, 0)!important;
    width: 150px;
    height: 120px;
    padding-top: 25px;
    transition: 0.5s ease-in-out;
    
} 

.space1:hover
{
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
}



.space2 
{
    background-color: rgba(255, 255, 255, 0)!important;
    width: 100px;
    height: 100px;
    margin: 20px 25px;
    padding-top: 17px;
    transition: 0.5s ease-in-out;
  
} 

.space2:hover
{
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
}



.space3 
{
    background-color: rgba(255, 255, 255, 0)!important;
    width: 119px;
    height: 110px;
    margin: 12px 16px;
    padding-top: 17px;
    transition: 0.5s ease-in-out;

} 

.space3:hover
{
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
}

.space4
{
    background-color: rgba(255, 255, 255, 0)!important;
    width: 119px;
    height: 110px;
    margin: 12px 16px;
    padding-top: 17px;
    transition: 0.5s ease-in-out;
  
} 

.space4:hover
{
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
}

.space5 
{
    background-color: rgba(255, 255, 255, 0)!important;
    width: 112px;
    height: 110px;
    margin: 12px 18px;
    padding-top: 17px;
    transition: 0.5s ease-in-out;
    
} 

.space5:hover
{
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
}


.space6 
{
    background-color: rgba(255, 255, 255, 0)!important;
    width: 160px;
    height: 110px;
    margin: 12px -4px;
    padding-top: 17px;
    transition: 0.5s ease-in-out;
    
} 

.space6:hover
{
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
}

.space7
{
    background-color: rgba(255, 255, 255, 0)!important;
    width: 175px;
    height: 100px;
    margin: 12px -13px;
    padding-top: 17px;
    transition: 0.5s ease-in-out;
    
} 

.space7:hover
{
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
}



.space8
{
    background-color: rgba(255, 255, 255, 0)!important;
    width: 117px;
    height: 110px;
    margin: 12px 15px;
    padding-top: 17px;
    transition: 0.5s ease-in-out;
    
} 

.space8:hover
{
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
}

.space9
{
    background-color: rgba(255, 255, 255, 0)!important;
    width: 135px;
    height: 110px;
    margin: 12px 9px;
    padding-top: 17px;
    transition: 0.5s ease-in-out;
    
} 

.space9:hover
{
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
}

 
/* Ici se trouve l'expérience chez Caceis */
.tout1
{
    
    
    max-width: 700px;
    margin: 20px auto;
  
   
}



 .fond1 
{
    width: 110%;
    height: 150px;
}

.rep{
    background-image: url("imagescv/fond.png");
    background-repeat: no-repeat;
    background-size: 400px;
    margin-left: -30px;
    width: 380px;
    background-position-x: right;
    background-position-y:center;
    height: 100px;  
    font-weight: bold;  
    
}



.gest{
    background-image: url("imagescv/fondreverse.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x:left;
    background-position-y: center;
    height: 100px;
    width: 380px;
    font-weight: bold;
    
}

.alternant{
    background-image: url("imagescv/fond.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: auto;
    margin-left: -30px;
    height: 100px;
    width: 380px;
    font-weight: bold;
    
}

.poec{
    background-image: url("imagescv/carre.png");
    background-repeat: no-repeat;
    height: 200px;
    border-left: 2px solid black;
    width: 300px;
    margin-right: 60px;
    font-weight: bold;
    
}




.m22{
    background-image: url("imagescv/carre.png");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 200px;
    justify-content: center;
    border-right: 2px solid black;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left:74px;
    font-weight: bold;
  
}

.tof1{

    margin-left: auto;
    width: 220px;
}

.tof2{

    margin-right: auto;
    width: 220px;
}


.m2{
    background-image: url("imagescv/carre.png");
    background-repeat: no-repeat;
    background-size: 350px;
    margin-left: auto;
    width: 300px;
    height: 200px;
    border-right: 2px solid black;
    font-weight: bold;

    
}

.l3{
    background-image: url("imagescv/carre.png");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 200px;
    justify-content: center;
    border-left: 2px solid black;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
}

.tof4{

    margin-left: auto;
    width: 315px;
}

.exp1
{
   
    margin-top: -120px;
    margin-left: 578px;
}

.logo1
{
   width: 50%;
   margin-left: 70px;
   margin-top:30px; 
   
}



/* Ici se trouve le code de l'expérience chez friedland */

.fond2 
{
    width: 120%;
    height: 150px;
    /* margin-right: 10px; */
    margin-top: 70px;
    
}

.exp2
{
   
    margin-top: -110px;
    margin-left: 60px; 

}

.logo2
{
   width: 50%;
   margin-left: 70px;
   margin-top:25px

}

/* Partie de l'expérience chez Grdf  */

.fond3 
{
    
    width: 110%;
    height: 150px;
    margin-top: 40px;
    
}

.exp3
{
   
    margin-top: -120px;
    margin-left: 410px;
}

.logo3
{
   width: 50%;
   margin-left: 70px;
   margin-top:30px;

}

.verticale
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-width: auto;
    max-height: 200px;
    
}

.left1
{
    background-image: url(imagescv/carre.png);
    background-repeat: no-repeat;
    background-size: 360px;
    background-position:right ;
    
    width: 32%;
    height: 250px;
    margin-right: 10px;
    /* justify-content: end; */

    
}

.right1
{
    background-image: url(imagescv/logo_la_manu_formation_400-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
    width: 35%;
    border-left: 2px solid black;
}

.ecrit1
{
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
    margin-top: 15px;
}


/* Début de la partie 2 de la zone formation  */

.left2
{
    background-image: url(imagescv/caen.png);
    background-repeat: no-repeat;
    background-size: 250px;
    width: 34%;
    height: 250px;
    /* margin-top:-3px; */
    border-right: 2px solid black;
    margin-right: 7px;
    margin-left: 6px;
    background-position: center;
    
    
    /* padding-left: -5px; */
    
}

.right2
{
    background-image: url(imagescv/carre.png);
    background-repeat: no-repeat;
    width: 35%;
    height: 250px;
    background-size: 320px;
    padding-top: 10px;
    margin-right:10px; 
    /* padding-right: 5px; */
}

.ecrit2
{
    font-weight: bold;
    text-align: left;
    margin-left: 10px;

}


/* Troisième formation M2 management */

.left3
{
    background-image: url(imagescv/carre.png);
    background-repeat: no-repeat;
    background-size: 360px;
    background-position:right ;
    
    width: 32%;
    height: 250px;
    margin-right: 10px;
    justify-content: end;

    
}

.right3
{
    background-image: url(imagescv/eum.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
    width: 35%;
    border-left: 2px solid black;
    
}

.ecrit3
{
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
    margin-top: 15px;
}


/* Licence */

.left4
{
    background-image: url(imagescv/uca.png);
    background-repeat: no-repeat;
    background-size: 250px;
    border-right: 2px solid black;
    width: 35%;
    height: 250px;
    margin-left: -25.5px;
    background-position: center;

        
}

.right4
{
    background-image: url(imagescv/carre.png);
    background-repeat: no-repeat;
    width: 34%;
    height: 250px;
    background-size: 320px;
    
    padding-top: 10px;
    margin-left:10px; 
    /* padding-left: 5px; */
}

.ecrit4
{
    font-weight: bold;
    text-align: left;
    margin-left: 10px;

}

/* Début du css de la partie de langue et certification */

.lc 
{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 200px;

    margin: 10px auto;
    justify-content: center;
    border-bottom: 2px solid black;
    
    
    
}


.toeic
{
    background-image: url(imagescv/carre.png);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 180px;
    width: 200px;
    height: 180px; 
    margin-right: 10px;
    
    
   
    
}

.logotoeic
{
    width: 150px;
    margin-top: 20px;
    margin-left: 20px;
}


.amf
{
    background-image: url(imagescv/carre.png);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 180px;
    width: 220px;
    height: 180px;
      
}

.logoamf
{
    width: 150px;
    margin-top: 20px;
    margin-left: 15px;
}



/* slider  marge entre images */
.slider .slides img{
    width: 700px;
    height: 450px;
}
/* placement des images dans le slider */
.slider{
    width: 700px;
    height: 500px;
    overflow: hidden;
    margin: 100px auto;
    margin-top: 0px;
 
}
/* animation des images */
.slides{
    width: calc(900px*5);
    animation: glisse 15s infinite;
    
}
/* taile espacements des images */
.slide{
    float: left; 
    margin: 17px; 
    height: 500px;
    width: 900px;
} 

.row{

    /* width: 100%; */
    max-width: 800px;
    justify-content: center;
   
}




/* reglages de la vitesse defillements des images */
@keyframes glisse{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-913px);
    }
    50%{
        transform: translateX(-1860px);
    }
    75%{
        transform: translateX(-2800px);
    }
    100%{
        transform: translateX(0);
    }

}

.contact
{
    background-image: url(imagescv/carre.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 30px;
    padding-top: 5px;
    width: 100%;
    

}
/* .myform1
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 10px;
} */

.titre
{
    padding-bottom: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
}

/* .myform2
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
} */

.myform3
{
    display: flex;
    margin-left: 47px;
    padding-top: 20px;
}

@media screen and (max-width:768px ) {

    .titre{
        grid-template-columns: 1fr;

        height: 200px;
    }

    /* .myform1{
        display: flex;
        flex-direction: column;
    } */

    /* .myform2{
        display: flex;
        flex-direction: column;
    } */
    
    .myform3{
        display: flex;
        flex-direction: column;
    }

    

}

/* A voir ce que je peux en faire */
.borde
{
    margin-right: 100px;
    
}

.border1
{
    
    margin-top: 30px;
}

.lab1
{
    /* /* margin-right: -90px;
    width: 100px; */
} 

.lab2
{
    /* margin-right: -40px; */
}

.border2
{
    /* margin-left: -55px;   */
}

.border3
{
    /* margin-left: -80px;  */
     
}


.borde4
{
    /* margin-right: 290px;
    margin-left: -115px; */
}

.border 
{
    /* margin-left: 15px; */
}




.obj1
{
    /* /* margin-right: 140px;
    margin-left: -375px;
    padding-left: 30px; */
} 

.obj2
{
    margin-top: 15px;
    
}

.ob 
{
    margin-left: -20px;
}

.obj3
{
    margin-right: -120px;
}

.border6
{
    /* margin-left: -90px; */
    
}

.footer
{
    background-image: url(imagescv/abstract2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 160px;
}

.footer .social{

    text-align: center;
    padding-bottom:20px;
    
}

.footer .social a {
    font-size: 24px;
    border : 1px solid aqua;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block; 
    text-align: center;
    border-radius: 50%;
    margin: 0 8px; 
    opacity: 0.75;
}

.footer .social a:hover {

    opacity:150;
}


.footer ul 
{
    
    list-style: none!important;
    line-height: 1.6px;
    margin-bottom: 0;
    text-align: center;

}

.footer ul a {

    color: inherit;
    text-decoration: none;
    justify-content: center;

}

.footer ul li {

    display: inline-block;
    padding: 0 15px;

}

.mots
{
    color: white;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    list-style: none!important;
    height: 20px;

} 

.list{

    width: 80%;
    margin: auto;
    height: 10px;
    margin-bottom: 50px;


}

.copy
{
    margin-top: 30px;
    color: white;
    text-align: center;
    
}

.RetourEnHaut
{

    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    color: white;
    text-decoration: white;
    opacity: 0;
    transition: all .4s;


}

.RetourEnHaut.active{

        background-color: aqua;
        width: 65px;
        height: 13%;
        bottom: 32px;
        pointer-events: auto;
        opacity: 1;

        
}

